{:paths ["src" "resources"]
 
 :deps
 {markdown-clj/markdown-clj {:mvn/version "1.10.8"}
  metosin/reitit {:mvn/version "0.5.16"}
  org.babashka/sci {:mvn/version "0.3.0"}
  reagent/reagent {:mvn/version "1.1.0"}
  thheller/shadow-cljs {:mvn/version "2.17.3"}}
 
 :aliases
 {:dev
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.2"}}}}}
